<h2>Chapter <%=@article.position%>. <%= @article.title %></h2>

<%= render partial:'article_nav_menu'%>

<div class="article_introduction">
  <%= markdown(@article.introduction) %>
</div>

<div class="article_body">
  <%= markdown(@article.body)%>
</div>

<% if @article.title != "Introduction" %>
  <div id="exercises_link">
    <%= link_to("View Chapter Exercises", subject_article_problems_path(@subject, @article)) %>
  </div>
<% end %>

<%= render partial:'article_nav_menu'%>

<div class="bottom_menu_options">
  <%= link_to("Back to #{@subject.name} index", subject_articles_path(@subject)) %> |
  <% if current_user %>
    <%= link_to('Edit Chapter', edit_subject_article_path(@subject, @article))%>
  <% else %>
    <%= render 'layouts/register_question' %>
  <% end %>
</div>
