<h3><%= @article.position %>. <%= @article.title %> Exercises</h3>

<div class="article_problems">
  <% if @problems != [] %>
    <h4>True/False Exercises<h4>
        <%= render partial: 'show_exercises', locals: {problems: @tf_problems} %>
    <h4>Other Exercises</h4>
        <%= render partial: 'show_exercises', locals: {problems: @non_tf_problems} %>
  <% else %>
    <p>Exercises coming soon!</p>
  <% end %>
</div>

<div class="bottom_menu_options">
  <%= link_to("Back to #{@article.title}", subject_article_path(@subject, @article)) %>|
  <% if current_user %>
    <%= link_to('Add Problem', new_subject_article_problem_path(@subject, @article))%>
  <% else %>
    <%= render 'layouts/register_question' %>
  <% end %>
</div>
