<h2><%= @subject.name %>: <%= @article.title %></h2>

<p> Question: <%= markdown(@problem.question) %></p>
<p> Answer: <%= markdown(@problem.answer) %></p>

<div class="bottom_menu_options">
  <%= link_to("Back to Chapter Exercises", subject_article_path(@subject, @article)) %> |
  <% if current_user %>
    <%= link_to('Edit Problem', edit_subject_article_problem_path(@subject, @article, @problem))%>
  <% else %>
    Want to contribute?<%= link_to 'Register', new_user_path %>to become an editor!
  <% end %>
</div>
