<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@subject.errors.count, "error")%> prohibited
    this article from being saved:</h3>
    <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div>
  <%= f.label(:name)%>
  <%= f.text_field(:name)%>
  </div>
  <div>
  Level
  <%= f.select(:level, %w(High\ School College Graduate)) %>
  </div>
  <%= f.submit %>
  <% end %>
